@font-face {
    font-family: "inter-bold";
    src: url("../../typography/Inter-Bold.ttf");
    font-style: bold;
}

@font-face {
    font-family: "inter-extra-bold";
    src: url("../../typography/Inter-ExtraBold.ttf");
    font-style: bold;
}

@font-face {
    font-family: "inter-regular";
    src: url("../../typography/Inter-Regular.ttf");
    font-style: normal;
}